@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lemon&family=Roboto+Slab:wght@100..900&display=swap");

/* Text */
h2 {
  font-size: 50px;
  font-weight: 400;
}
p {
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
}

section {
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .container {
    z-index: 1;
    height: 500px;
    width: 800px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

section .shadow {
  z-index: 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  position: absolute;
  height: 500px;
  width: 800px;
  border-radius: 20px;
  transform: rotate(0deg);
  transition: all 2s ease-in-out;
}

section .shadow.active {
  transform: rotate(5deg);
}

img {
  max-width: 300px;
  max-height: 400px;
}

.sperate {
  width: 1px;
  height: 400px;
  background-color: black;
}

#main-section .container .text-holder {
  text-align: center;
}

form .input-container {
  height: 40px;
  margin: 30px 10px;
  position: relative;
  text-align: left;
}
form .textarea {
  height: 70px;
}

.input-container input,
.textarea textarea {
  background-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 0px 10px;
  font-size: 17px;
  transition: border-color 1s ease-out;
  outline: none;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  transform: translateY(-30px);
  font-size: 12px;
}

.textarea textarea:focus ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-60px);
  font-size: 12px;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}
.input-container label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 10px;
  background: transparent;
}
.input-container .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.btn {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(246, 211, 101, 0.5);
}

@media screen and (max-width: 768px) {
  .nav {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  section {
    height: auto;
    display: block;
    padding-top: 90px;
    .container {
      height: auto;
      width: auto;
      margin: 0px 10px;
      border-radius: 0px;
      display: block;
      background-color: transparent;
      .image-holder {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }

  section .shadow {
    display: hidden;
    width: 0px;
    height: 0px;
  }

  img {
    height: auto;
    width: auto;
  }

  .sperate {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }

  form .form-row .input-container {
    margin: 35px 0 !important;
  }
}
