@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lemon&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Caveat:wght@400..700&family=Lemon&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lemon&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Caveat:wght@400..700&family=Lemon&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.modal {
  z-index: 20;
  opacity: 0;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #fda085;
  border-radius: 20px;
  padding: 10px;
  transition: all 2s ease;
  .container {
    padding: 50px 70px;
    position: relative;
  }
}
.black-bc {
  z-index: 19;
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  height: 100vh;
  width: 100%;
}
.modal p {
  cursor: alias;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  .strong {
    color: #434343;
  }
}

.modal.active {
  opacity: 1;
  top: 50%;
  left: 50%;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

#hero {
  background: linear-gradient(
      rgba(246, 211, 101, 0.5),
      rgba(253, 160, 133, 0.5)
    ),
    url("../public/SDC_hero_bg_2.jpg") 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  justify-content: center;
  /* padding-right: 80px; */
}

#hero .container {
  color: white;
  padding: 10px;
  border-radius: 20px;
}

#hero .container h1 {
  /* color: #434343; */
  font-family: "Lemon", serif;
  font-weight: 400;
  font-size: 40px;
  transform: rotate(2deg);
  text-align: center;

  /* animation */

  background: #222 -webkit-gradient(
      linear,
      right top,
      left top,
      from(#222),
      to(#222),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;

  -webkit-background-size: 150px;
  color: rgba(67, 67, 67, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: hero-header-animation;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

#hero .container h3 {
  color: #434343;
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  transform: rotate(2deg);
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: hero-welcome-animation 5s linear infinite;
  position: relative;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container .btn {
  background-color: rgba(195, 207, 226, 0.8);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #434343;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  font-size: 10px;
  position: relative;
  cursor: pointer;
  transform: rotate(2deg);
  touch-action: manipulation;
  margin: 5px 5px;
  transition: background-color 1s ease, color 1s ease;
  font-family: "Lemon", serif;
  font-weight: 400;
}

.btn-container .btn:hover {
  color: white;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-color: #434343;
}

.btn-container .btn:focus {
  outline: 0;
}

.btn-container .btn:after {
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: -1px;
  left: -3px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: bottom 0.4s, left 0.2s, border 0.1s;
}

.btn-container .btn:hover:after {
  border: 1px solid black;
  bottom: 0px;
  left: 0px;
}

/* Hero section end */

/* Marketing section strat */

#marketing-section {
  padding: 50px 100px;
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
  font-family: "Work Sans", sans-serif;
}

#marketing-section .container {
  height: auto;
}

#marketing-section .container .marketing-tag {
  margin: 20px auto;
  min-width: 850px;
  max-width: 850px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#marketing-section .container .marketing-tag .content {
  width: 400px;
}

#marketing-section .container .marketing-tag .content h3 {
  font-size: 25px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}

#marketing-section .container .marketing-tag .content .content-detail {
  font-size: 1rem;
}

#marketing-section .container img {
  max-width: 200px;
  object-fit: contain;
}

#marketing-section .btn-container {
  display: flex;
  justify-content: end;
}

#marketing-section .btn {
  transform: rotate(0deg);
  color: white;
  background-color: #434343;
}

#marketing-section .btn:hover {
  color: black;
  background-color: rgba(195, 207, 226, 0.8);
}

#marketing-section .btn-container .btn:after {
  content: "";
  position: absolute;
  border: 1px solid black;
  bottom: -4px;
  left: -4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: bottom 0.4s, left 0.2s, border 0.1s;
}

#marketing-section .btn-container .btn:hover:after {
  border: 1px solid black;
  bottom: 0px;
  left: 0px;
}

/* marketing section end */

/* promotion section start */

#promotion-section {
  height: 450px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#promotion-section .container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#promotion-section .container .image-holder {
  width: 50%;
  height: 300px;
  margin: 20px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
}

#promotion-section .container .image-holder input[type="radio"] {
  visibility: hidden;
}

#promotion-section .container .image-holder input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

#promotion-section .container .image-holder input[type="radio"]:checked {
  opacity: 1;
}

#promotion-section .container .image-holder label {
  position: absolute;
  max-height: 450px;
  max-width: 400px;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#promotion-section .container .image-holder label img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: transform 400ms ease;
}
#promotion-section .container .image-holder label img:hover {
  transform: scale(1.1);
}

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -50px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -150px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#promotion-section .container .content {
  margin-top: 20px;
  text-align: start;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 3px;
}

#promotion-section .container .content h2 {
  font-size: 40px;
  letter-spacing: 5px;
}

#promotion-section .container .content h3 {
  font-size: 20px;
  font: bold;
}

#promotion-section .container .content p {
  font-size: 15px;
  text-decoration: line-through;
}

#promotion-section .container .content h5 {
  color: red;
  font-size: 30px;
}

#promotion-section .container .content .btn-container {
  justify-content: end;
}
#promotion-section .container .content .btn {
  transform: rotate(0);
}

/* promotion section end */

/* health section */

#health-section {
  height: 100vh;
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
  font-family: "Work Sans", sans-serif;
}

#health-section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 20px 50px;
}

#health-section .container .image-holder img {
  max-width: 500px;
  object-fit: contain;
}

#health-section .btn-container {
  justify-content: end;
}
#health-section .btn {
  transform: rotate(0);
}
#health-section .btn::after {
  border: 1px solid black;
}
/* health section end */
@media screen and (max-width: 768px) {
  /* section hero */
  .modal {
    padding: 0px;
    border-radius: 10px;
  }
  .modal .container {
    padding: 30px 50px;
    text-align: center;
  }
  .modal p {
    font-size: 20px;
  }
  #hero {
    justify-content: center;
    padding-right: 0px;
  }

  #hero .container {
    padding: 5px;
  }

  #hero .container h1 {
    font-size: 20px;
  }

  #hero .container h3 {
    color: #434343;
    font-size: 15px;
  }

  .btn-container .btn {
    padding: 10px;
    font-size: 10px;
  }

  /* Hero section mobile end */

  #marketing-section {
    height: auto;
    width: auto;
    padding: 10px 0;
  }

  #marketing-section .container {
    margin: 0 auto;
    height: auto;
    max-width: 300px;
  }
  #marketing-section .btn-container {
    display: flex;
    justify-content: start;
  }

  #marketing-section .container .marketing-tag {
    max-width: 300px;
    min-width: 300px;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
  }

  #marketing-section .container .marketing-tag .content {
    width: 300px;
    margin: 10px auto;
  }

  #marketing-section .container .image {
    max-width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  #marketing-section .container .image img {
    max-width: 300px;
    object-fit: contain;
  }

  /* Marketing section mobile end */

  #promotion-section {
    height: 500px;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    display: block;
    padding: 20px 0px;
  }

  #promotion-section .container {
    display: block;
    width: auto;
  }

  #promotion-section .container .image-holder {
    height: 200px;
    max-width: 200px;
    margin: 30px auto;
  }

  #promotion-section .container .image-holder label {
    position: absolute;
    max-height: 450px;
    max-width: 200px;
  }

  #promotion-section .container .image-holder label img {
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
    margin: 0 auto;
  }
  #promotion-section .container .content {
    margin: auto 10px;
    text-align: start;
  }

  #promotion-section .container .content h2 {
    font-size: 20px;
  }

  #promotion-section .container .content .btn-container {
    justify-content: end;
  }

  /* promotion section mobile end */

  #health-section {
    height: auto;
  }

  #health-section .container {
    display: block;

    width: 100%;
    height: auto;
    padding: 20px 50px;
  }

  #health-section .container .image-holder img {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  #health-section .btn-container {
    justify-content: end;
  }

  /* health section end mobile */
}

@keyframes hero-welcome-animation {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@-webkit-keyframes hero-header-animation {
  0%,
  10% {
    background-position: 1000px;
  }
  20% {
    background-position: top right;
  }
  90% {
    background-position: top left;
  }
  100% {
    background-position: -1000px;
  }
}
