@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Caveat:wght@400..700&family=Lemon&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#main-section {
  height: auto;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding-top: 100px;
  .container {
    margin: 0px 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}

#main-section .container .grid-item {
  position: relative;
  height: 550px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  margin: 10px 10px;
  overflow: hidden;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-blend-mode: multiply, multiply;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#main-section .container .grid-item .img-holder {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 350px;
    width: 250px;
    object-fit: contain;
    transform: scale(1);
    transition: transform 1s;
    border-radius: 20px;
  }
}
#main-section .container .grid-item .img-holder img:hover {
  transform: scale(1.1);
}
#main-section .container .grid-item .contact {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: 350px;
  height: 250px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#main-section .container .grid-item .contact .detail {
  display: grid;
  grid-template-columns: auto auto;
  text-align: start;
  grid-gap: 5px;
  margin: 15px;
  height: 120px;
  img {
    width: 15px;
  }
}
#main-section .container .grid-item .contact .check-box {
  display: flex;
  justify-content: center;
}

#main-section .container .grid-item .contact .btn-holder {
  display: flex;
  justify-content: space-around;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container .btn {
  background-color: #434343;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #fff;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
  margin: 5px 5px;
  transition: background-color 1s ease, color 1s ease;
}

.btn-container .btn:hover {
  color: white;
  background-color: gray;
}

.btn-container .btn:focus {
  outline: 0;
}

.btn-container .btn:after {
  content: "";
  position: absolute;
  border: 1px solid white;
  border-radius: 10px;
  bottom: -2px;
  left: -3px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transition: bottom 0.4s, left 0.2s, border 0.1s;
}

.btn-container .btn:hover:after {
  bottom: 0px;
  left: 0px;
}
.qty-input {
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;

  .product-qty,
  .qty-count {
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    height: 30px;
    line-height: 1;

    &:focus {
      outline: none;
    }
  }

  .product-qty {
    width: 20px;
    min-width: 0;
    display: inline-block;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  .qty-count {
    padding: 0;
    cursor: pointer;
    width: 30px;
    font-size: 20px;
    text-align: center;
    img {
      max-width: 10px;
      transition: all 500ms;
    }
  }
  .qty-count:hover {
    img {
      max-width: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }

  #main-section {
    .container {
      margin: 0;
      margin-bottom: 0px;
      display: block;
      .grid-item {
        margin: 20px auto;
        border-radius: 5px;
      }
    }
  }
  #main-section .container .grid-item {
    margin: 0 auto 10px auto;
    width: 300px;
  }
  #main-section .container .grid-item .contact {
    width: 300px;
  }
  #main-section .container .grid-item .contact .detail {
    margin: 15px 0;
  }
}
